/* NAVBAR */
.navBar{
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
}

.main-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navShop{
    font-size: 1rem;
}

ul.nav {
    width:100%;
    margin:0 auto;
    margin-top: 2em;
    padding:0;
    list-style:none;
    background-color:white;
    text-align:center;
    font-family: 'Work Sans', sans-serif;
  
    
}
.nav li { 
    display:inline-block;
    width:13%;
    margin:0;
    padding:0;
    
}
.nav a {
    text-align:center;
    padding:12px 0 13px 0;
    margin:0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display:block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
}
.nav a:hover { 
    background:white;
    border:none;
}

ul.nav li:first-child a{
    border:none;

}

/* ul.nav li:last-child a {
    border:none;
}​ */